.api__container
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr) );
    width: 80%;
    margin: 10%;
    height: auto;
    gap: 20px;
}


.book__card
{
    display: flex;
    background-color: rgb(208, 211, 209);
    width:100%;
    align-items: center;
    justify-content: space-between;
    height:auto;
    border-radius: 5px;
    flex-direction: column;
}

.book__img
{
    max-width: 100%;

  

}
.book__price
{
    width: 100%;
    height: 5vh;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    font-size: 1.1rem;
    background-color: white;
    font-weight: 500;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding-right: 5%;
    margin: -10% 30% 10% 0%;

}
.book__title
{
    width: 100%;
    font-size: 1rem;
    color: rgb(34, 34, 34);
    font-family:roboto;
    font-weight: 500;
    width: 100%;
    padding: 0 5% 5% 5%;

}
.book__subtitle
{
    width: 100%;
    padding: 0% 5% 5% 5%;
    font-size: 0.9rem;
    font-weight: 400;
    color: gray;
}

.book__buy
{
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: rgb(158, 158, 158);
}
.main__container
{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    text-align: left;

}